---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
const { blok } = Astro.props
---

<section
  {...storyblokEditable(blok)}
  class="min-h-[75vh] flex items-end pt-40 bg-no-repeat bg-cover bg-top"
  style={`background-image: ${blok.image.filename ? `url(${blok.image.filename}/m/2560x0)` : ''}`}
  >

  <div class="w-full bg-black/40 lg:bg-black pt-8">
    <div class="container max-w-[1300px] px-6 mx-auto flex flex-col lg:flex-row justify-center lg:justify-between items-center">
      <div class="max-w-[620px] text-center lg:text-left">
        <h2 class="text-white text-3xl md:text-5xl leading-[120%] font-adamina mb-4">
          {blok.headline}
        </h2>

        {blok.lead && (
          <p class="mb-8 text-white opacity-65">
            {blok.lead}
          </p>
        )}
      </div>

      {blok.button && blok.button.length > 0 && (
        <StoryblokComponent blok={blok.button[0]} />
      )}
    </div>

    <div class="container max-w-[1300px] mx-auto px-6">
      {blok.partners && blok.partners.length > 0 && (
        <StoryblokComponent blok={blok.partners[0]} />
      )}
    </div>
  </div>
</section>
