---
import { storyblokEditable } from '@storyblok/astro'
const { blok } = Astro.props
---

<section {...storyblokEditable(blok)}>
  <div class="container mx-auto px-6">
    {blok.title && <h2 class="text-3xl md:text-5xl text-center font-adamina mb-16 px-6">{blok.title}</h2>}

    <ul class="grid md:grid-cols-2 gap-y-16 gap-x-5">
      {blok.members && blok.members.map((member) => (
        <li>
          <img class="block w-full" src={member.image.filename} alt={member.image.alt} />
          <div class="flex items-center justify-between gap-2 mt-4 text-black">
            <h3 class="text-2xl">{member.name}</h3>
            <span class="text-sm">{member.role}</span>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>
