---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
const { blok } = Astro.props
---

<section {...storyblokEditable(blok)}>
  <div class="container mx-auto px-6">
    {blok.title && <h2 class="text-3xl md:text-5xl text-center font-adamina mb-16 px-6">{blok.title}</h2>}

    <ul class="grid md:grid-cols-2 gap-y-16 gap-x-5">
      {blok.members && blok.members.map((member) => (
        <li class="relative group">
          <Image
            class="block w-full"
            src={`${member.image.filename}/m/1078x0`}
            alt={member.image.alt}
            width={539}
            height={315}
            layout="full-width"
            loading="lazy"
          />
          <div class="flex items-center justify-between gap-2 mt-4 text-black">
            <h3 class="text-2xl">{member.name}</h3>
            <span class="text-sm">{member.role}</span>
          </div>
          <a href={member.link.cached_url} class="absolute -top-[8px] right-[24px] w-[96px] h-[96px] flex justify-center items-center rounded-full bg-primary opacity-0 scale-75 -translate-x-5 pointer-events-none transition-all duration-[400ms] ease-elastic group-hover:opacity-100 group-hover:scale-100 group-hover:translate-x-0 group-hover:pointer-events-auto hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"><path fill="#fff" fill-rule="evenodd" d="M10.293 16.707a1 1 0 0 0 1.414 0l6-6a1 1 0 0 0 0-1.414l-6-6a1 1 0 0 0-1.414 1.414L14.586 9H3a1 1 0 0 0 0 2h11.586l-4.293 4.293a1 1 0 0 0 0 1.414Z" clip-rule="evenodd"/></svg>
          </a>
        </li>
      ))}
    </ul>
  </div>
</section>
