---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { Image } from 'astro:assets'
const { blok } = Astro.props
---

<section { ...storyblokEditable(blok)}>
  <div class="container mx-auto px-6">
    <div class="grid md:grid-cols-2 gap-16 p-16 bg-white">
      <div class="pt-12 pl-12 bg-primary self-start">
        <Image
          src={`${blok.image.filename}/m/858x0`}
          alt={blok.image.alt}
          width={405}
          height={494}
          layout="full-width"
          loading="lazy"
          class="rounded-tl-xl"
        />
      </div>
      <div class="flex flex-col justify-between items-start gap-8">
        {blok.heading && blok.heading.length > 0 && (
          <StoryblokComponent blok={blok.heading[0]} />
        )}
        <ul>
          {blok.testimonials && blok.testimonials.map((testimonial) => (
            <li>
              <p class="text-black text-2xl lg:text-4xl leading-[140%] font-adamina mb-4">“{testimonial.quote}“</p>
              <div class="flex gap-2 items-center p-3 text-black bg-[#F4F5F5]">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <circle cx="16" cy="16" r="15.7648" fill="url(#paint0_radial_313_2030)" stroke="#FAF8C8" stroke-width="0.4704"/>
                    <defs>
                    <radialGradient id="paint0_radial_313_2030" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(16 16) rotate(90) scale(16)">
                    <stop stop-color="#F77600"/>
                    <stop offset="1" stop-color="#F7DE00"/>
                    </radialGradient>
                    </defs>
                  </svg>
                </div>
                <div>
                  <strong>{testimonial.author_name}</strong>, {testimonial.author_title}
                </div>
              </div>
            </li>
          ))}
        </ul>
      </div>
    </div>

    <div class="max-w-[474px]">
      <h2 class="text-white text-3xl md:text-5xl leading-[120%] font-adamina mb-10">{blok.headline}</h2>
      {blok.button && blok.button.length > 0 && (
        <StoryblokComponent blok={blok.button[0]} />
      )}
    </div>
  </div>
</section>
